<header>
  <nav class="navbar navbar-light bg-faded" id="bluewillownav">
    <h1 class='' style="color:white;">Blue Willow</h1>

    <ul class="nav navbar-nav">
      <li class="nav-item" ng-class="{ 'active': vm.selected === 'home'}">
        <a class="nav-link" ui-sref="site.home">Home</a>
      </li>
      <li class="nav-item" ng-class="{ 'active': vm.selected === 'about'}">
        <a class="nav-link" ui-sref="site.about">About Bridget</a>
      </li>
      <li class="nav-item" ng-class="{ 'active': vm.selected === 'services'}">
        <a class="nav-link" ui-sref="site.services">Services</a>
      </li>
    </ul>
  </nav>
</header>

<div ui-view='main' class='main'></div>

<footer>
  Contact info here
</footer>
