$lightGreen: #56B142;
$green: #6EA559;
$red: #D73A29;
$white: #FFFFFF;
$beige: #F1F1EE;
$blue: blue;
$black: black;
$lightGrey: #7E7E7C;
$grey: #737272;
$darkGrey: #5A5A5A;
$yellow: #F3FF73;
$lightYellow: #F7F5C9;
$link: #1283FC; 

$materializeColPadding: 11.250px;
$targetWidth: 1020px;
$targetHeight: 768px;
$logoWidth: 118px;
$headerHeight: 86px;
$paddingWidth: 20px;
$logoMargin: 45px;
$topImageDefaultHeight: 108px;
$topImageHeight: 370px;
$defaultFont: 'Gotham A', 'Gotham B';
$pizzasImageHeight: 600px;
$pizzasImageOffsetHeight: 250px;
$pizzasImageWideOffsetHeight: 100px;

/* screen sizes */
$mobileWidth: 25em;
$desktopWidth: 55em;
$widescreenWidth: 95em;

/* responsive constants */
$padding-xs-blockquote: 10px;
$padding-sm-blockquote: 40px;
$padding-md-blockquote: 200px;
$margin-xs-input: $padding-xs-blockquote;
$margin-sm-input: $padding-sm-blockquote;
